[submodule "third_party/co_tracker/co-tracker"]
	path = third_party/co_tracker/co-tracker
	url = https://github.com/facebookresearch/co-tracker
[submodule "third_party/sam2"]
	path = third_party/sam2
	url = https://github.com/facebookresearch/sam2
[submodule "third_party/rlds_dataset_mod"]
	path = third_party/rlds_dataset_mod
	url = https://github.com/moojink/rlds_dataset_mod
[submodule "third_party/cameraviewer"]
	path = third_party/cameraviewer
	url = https://github.com/xt4d/CameraViewer
